# NYC Car Accident Analysis
Chengran Ouyang

2019-04-24

## Step 1: Define the Problem
Requirement:

1. Download the data, and load it in Pycharm and provide initial overview information.

2. Visualize the location of the car accidents.

3. Find out the insight from the dataset (i.e. Location/ Time of Day).

4. Take Weather Data into Consideration.

5. Find out the potential car accident area given the current car location.

This time, I would leverage the power of R and Python to perform the analysis and present the result via both Rmarkdown (R) and jupiter notebook (python). The analysis would be based on a standard data science framework and answer the questions above; however, I would extend the scope of the analysis to identify any unique insight as well as provide detailed explanation of my code.

## Step 2: Gather the Data

The dataset is acquired from Kaggle open datasource.The Data is available via [NYC hourly car accidents 2013-2016](https://www.kaggle.com/pavetr/nypdcollisions).

## Step 3: Preprocess the Data

### 3.1 Dependencies

#### 3.1.1 Required Libraries

In [1]:
import pandas as pd
import numpy as np

#### 3.1.2 Load Datasets

In [4]:
colli = pd.read_csv("input/NYPD_Motor_Vehicle_Collisions.csv")

c:\users\owen\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2705: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### 3.2 First Glimpse

#### 3.2.1 First 5 Rows

In [7]:
colli.head(5)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,08/04/2017,0:00,QUEENS,11436,40.666885,-73.790405,"(40.666885, -73.790405)",NORTH CONDUIT AVENUE,149 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3725017,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1,08/04/2017,0:00,NaN,NaN,40.719950,-74.008590,"(40.71995, -74.00859)",HUDSON STREET,NaN,NaN,...,Unsafe Lane Changing,NaN,NaN,NaN,3725047,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
2,08/04/2017,0:00,NaN,NaN,40.718666,-73.963500,"(40.718666, -73.9635)",KENT AVENUE,NaN,NaN,...,Following Too Closely,NaN,NaN,NaN,3725533,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3,08/04/2017,0:00,NaN,NaN,40.754677,-73.975815,"(40.754677, -73.975815)",PARK AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3724870,SPORT UTILITY / STATION WAGON,TAXI,NaN,NaN,NaN
4,08/04/2017,0:00,NaN,NaN,40.818314,-73.836000,"(40.818314, -73.836)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3725662,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

#### 3.2.2 Structure

In [19]:
print('Number of rows: ', colli.shape[0])
print('Number of columns: ', colli.shape[1])

Number of rows:  1089265
Number of columns:  29

#### 3.2.3 Data Range

In [20]:
colli.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,UNIQUE KEY
count,882199.000000,882199.000000,1.089265e+06,1.089265e+06,1.089265e+06,1.089265e+06,1.089265e+06,1.089265e+06,1.089265e+06,1.089265e+06,1.089265e+06
mean,40.721128,-73.924296,2.555733e-01,1.198056e-03,5.247300e-02,6.646684e-04,2.047068e-02,7.803427e-05,1.861668e-01,4.535168e-04,2.200695e+06
std,0.301039,0.988562,6.565478e-01,3.632685e-02,2.408481e-01,2.602076e-02,1.449423e-01,8.833360e-03,6.263905e-01,2.366021e-02,1.519165e+06
min,0.000000,-201.359990,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,40.668960,-73.979025,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.742420e+05
50%,40.723305,-73.933153,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.180753e+06
75%,40.766351,-73.869289,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.453075e+06
max,41.126150,0.000000,4.300000e+01,5.000000e+00,2.800000e+01,2.000000e+00,4.000000e+00,1.000000e+00,4.300000e+01,5.000000e+00,3.726256e+06

#### 3.2.4 Data Type

In [21]:
colli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089265 entries, 0 to 1089264
Data columns (total 29 columns):
DATE                             1089265 non-null object
TIME                             1089265 non-null object
BOROUGH                          792241 non-null object
ZIP CODE                         792171 non-null object
LATITUDE                         882199 non-null float64
LONGITUDE                        882199 non-null float64
LOCATION                         882199 non-null object
ON STREET NAME                   892128 non-null object
CROSS STREET NAME                854727 non-null object
OFF STREET NAME                  160587 non-null object
NUMBER OF PERSONS INJURED        1089265 non-null int64
NUMBER OF PERSONS KILLED         1089265 non-null int64
NUMBER OF PEDESTRIANS INJURED    1089265 non-null int64
NUMBER OF PEDESTRIANS KILLED     1089265 non-null int64
NUMBER OF CYCLIST INJURED        1089265 non-null int64
NUMBER OF CYCLIST KILLED         1089265 non-null int64
NUMBER OF MOTORIST INJURED       1089265 non-null int64
NUMBER OF MOTORIST KILLED        1089265 non-null int64
CONTRIBUTING FACTOR VEHICLE 1    1084674 non-null object
CONTRIBUTING FACTOR VEHICLE 2    947827 non-null object
CONTRIBUTING FACTOR VEHICLE 3    71026 non-null object
CONTRIBUTING FACTOR VEHICLE 4    15318 non-null object
CONTRIBUTING FACTOR VEHICLE 5    3759 non-null object
UNIQUE KEY                       1089265 non-null int64
VEHICLE TYPE CODE 1              1081881 non-null object
VEHICLE TYPE CODE 2              922402 non-null object
VEHICLE TYPE CODE 3              69043 non-null object
VEHICLE TYPE CODE 4              14800 non-null object
VEHICLE TYPE CODE 5              3650 non-null object
dtypes: float64(2), int64(9), object(18)
memory usage: 166.2+ MB